
.product-image img {
    object-fit: contain;
    width: 4em;
    height: 4em;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    text-align: center;
}


.product.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}